<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Spotify Data App</title>

</head>
<body>
    <h1>Welcome user!</h1><a href="/authorize">Log in</a>
    <!--  <% %> Are EJS tags  -->
    <p> <%= user.display_name %> </p>
    <p>
    
        <img src="<%= user.images[1].url %>" alt="User Image">

         
        
    </p>

</body>
</html>