<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
     <!-- Link to the Google Fonts stylesheet for Inter -->
     <link rel="stylesheet" href="https://fonts.google.com/specimen/Inter">
    <title>Spotifeye</title>

</head>
<body>
    <div id = "page-container" >
        <div id="header-container" >
           
            <div class = wrapper> 
                <h1 id = "header-title"> spotifeye</h1>
            </div>
            <img src="pupil.png" alt="">
            <h2 id = "header-description"> look at your spotify data  
            </h2>
            <h2 id = "header-description2"> provides stats for your top songs, artists and genres</h2>
            <h3 id = "log-in"></h1><a href="/authorize">GET STARTED</a>
            
        </div>
        <div id="footer-container">/
            <h3 id= "disclaimer"> This site is not affiliated with Spotify. Created by Kalen Peredo</h3>
        </div>
    </div>
</body>
</html>